{% extends "boilerplate.html" %}
{% block body %}
<style>
  input[type='submit']{
    width:100px;
    height:100px;
    padding: 0;
    border: none;
    background: none;
  }
  #red{
    background-color: red;
    color:red;
  }
  #green{
    background-color: green;
    color:green
  }
  #blue{
    background-color: blue;
    color:blue;
  }
</style>
<h1>{{color}}
</h1>
<form action="#" method="get">

  <input type='submit' name="color" id="red" value="red">
  <input type='submit' name="color" id="blue" value="blue">
  <input type='submit' name="color" id="green" value="green">
</form>
{% endblock body %}